 h1 {
	color:white;
  text-align:center;
  
}
 
 body{
 background-image:  url(../darkwallpaper.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

 }


 }

div {
  color:white;
}

.github { 
color: white;  
}


span.navigationSpace {
    padding-left: 40px;
}

  


.instagram{
 color: white;  
 
}
.twitch {
 color:white;

}
